h1 {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 30px;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

/* Column Row */
section.column {
    display: flex;
}

/* Button */
div.type h1, p {
    color: white;
}

button.learn {
    height: 35px;
    width: 100px;
    background: white;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

button.learn:hover {
    color: white;
    background: none;
    border-color: white;
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
}

#sedans{
    background-color: hsl(31, 77%, 52%);
}

#suv {
    background-color: hsl(184, 100%, 22%);
}

#luxery {
    background-color: hsl(179, 100%, 13%);
}

/* CSS from index file */
.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}